        <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid"> 
            <div class="navbar-header">
                <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><img src="app/assets/img/logo.jpg.png"></a> 
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>                
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> Messages</a></li>
                <li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i> Notifications</a></li>
                <li><a href="#" ng-click="user.Logout();"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
              </ul>  
            </div>
        </div>
    </nav>
        <!-- Sidebar -->
        
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Activate Routes</h1>
                
                <div class="modal fade" id="activateModal" role="dialog">
                    <div class="modal-dialog">
    
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" ng-click="user.endSession();" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{user.modalHeader}}</h4>
                            </div>
                            <div class="modal-body">
                            <p>Do you want to activate your account?}</p>
                            <div ng-show="user.hideButton" class="pixel-loader"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" ng-hide="user.hideButton" ng-click="edit.renewSession();" class="btn btn-primary" data-dismiss="modal">Yes</button>
                                <button type="button" ng-hide="user.hideButton" ng-click="edit.endSession();"class="btn btn-danger" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Menu Toggle Script -->
<!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
-->


