
        <section class="cta-section">
			<div class="cta-card mob-scale">
				<img src="app/assets/img/pylot.png">
				<h1>LET SOMEONE PLAY YOUR GAMES</h1>
				<a class="btn btn-social btn-facebook" ng-click="user.fbLogin()"> 
                    <i class="fa fa-facebook"></i>LOG IN WITH FACEBOOK
                </a>            
<!--
                <a href="/auth/facebook" target="_blank"> 
                        <button type="button" class="btn btn-success">Facebook</button>
                    </a> 
-->
			</div>
		</section>
		<section class="team-section">
			<div class="team-card mob-scale">
                <h1>Team</h1>
				<div class="row">
						<div class="col-sm-4">
							<div class="team-box">
								<div class="team-img">
									<img src="app/assets/img/team1.jpg">
								</div>
								<div class="team-desc">
									<h3 class="white-text text-center">Hipster</h3>
									<h6 class="white-text text-center">Dan Jake C. Ramos</h6>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="team-box">
								<div class="team-img">
								    <img src="app/assets/img/team2.jpg">
								</div>
								<div class="team-desc">
									<h3 class="white-text text-center">Hustler</h3>
									<h6 class="white-text text-center">Mary Cristy D. Montejo</h6>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="team-box">
								<div class="team-img">
								    <img src="app/assets/img/team3.jpg">
								</div>
								<div class="team-desc">
									<h3 class="white-text text-center">Hacker</h3>
									<h6 class="white-text text-center">Joshua Paul M. Agapay</h6>
								</div>
							</div>
						</div>
				</div>
			</div>
		</section>
        
